.text-center{
    text-align: center;
    justify-content: center;
    color: #CC7722;
    text-weight:900;
}
.bg-red{
    background-color: rgb(64, 53, 64);
}
.mx-auto {
    margin: auto;
}
.flex{
display: flex;
}

.items-center{
    align-items: center;
    justify-content: center;
}